* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
html,
body,
#root {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
.header {
  height: 65px;
  background-color: #fbe87a;
}
.tablist {
  height: 70px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.content {
  display: flex;
  flex: 1;
}
.aside {
  display: flex;
  flex-direction: column;
  width: 20%;
  flex: none;
  background-color: #bfbab078;
  transition: all 0.3s ease-in-out;
}
.aside.hide {
  transform: translateX(-90%);
}
.aside ul li{
  display: flex;
  text-align: center;
}
.aside span{
  display: flex;
  flex:1 1 20%;
}

.main {
  display: flex;
  flex: 1;
  overflow: auto;
}
.footer {
  height: 100px;
  margin-top: auto;
  background-color: #444;
}
.footer .txt_copyright {
  color: #c4c4c4;
}
